.first { 
    position: absolute;
    width:60%; 
    height:60%; 
    background-image:url(images/backgrounds/h_img.jpg) ;
    background-size: cover;
    text-align: justify;
    left: 20%;
} 
img { 
    position: center;
    width:130%; 
    height:140%; 
} 
.logo{
    position: absolute;
    top: 40%;
    left: 45%;
    height: 50px;
    width: 70px;
}
.welcome{
    position: absolute;
    top: 55%;
    left: 43%;

}
.welcome p{
    color: white;
    font-size: 150%;
}
.to{
    position: absolute;
    top: 65%;
    left: 35%;
}
.to p{
    color: white;
    font-size: 150%;
}
.amazing{
    position: absolute;
    top: 80%;
    left: 33%;
}
.amazing p{
    color: white;
    font-size: 50%;
}
.mouse{
    position: absolute;
    top: 90%;
    left: 50%;
    height: 30px;
    width: 20px;
}
.about{
    position: absolute;
    text-align: center;
    margin-top: 25%;
    left: 15%;
}

.service{
    position: absolute;
    width:70%; 
    height:60%; 
    background-image: url(images/backgrounds/s_image.jpg);
    top: 100%;
    left: 20%;
}
.head{
    position: absolute;
    top: 10%;
    left: 45%;
}
.head p{
    color: white;
    font-size: 150%;
}
.cont{
    position: absolute;
    top: 20%;
    left: 8%;
}
.cont p{
    color: white;
    font-size: 90%;
}
.cont1{
    position: absolute;
    top: 30%;
    left: 25%;
}
.cont1 p{
    color: white;
    font-size: 90%;
}
.cont2{
    position: absolute;
    top: 40%;
    left: 20%;
}
.cont2 p{
    color: white;
    font-size: 90%;
}
.head1{
    text-align: center;
}
#image1{
    position: absolute;
    height: 10%;
    width: 5%;
    left: 25%;
    top: 170%;
}
#image2{
    position: absolute;
    height: 10%;
    width: 5%;
    left: 50%;
    top: 170%;
}
#image3{
    position: absolute;
    height: 10%;
    width: 5%;
    left: 70%;
    top: 170%;
}
 h3{
    text-align: center;
    left: 30%;
}
.portfolio{
    position: absolute;
    top: 180%;
    left: 30%;
}
.four{
    display: flex;
    width: 10%;
    padding: 5px;
    left: 70%;
    top: 150%;
}
.fives{
    display: flex;
    width: 10%;
    padding: 5px;
    left: 70%;
}
.contact-us{
    position: absolute;
    background-image: url(images/backgrounds/c_image.jpg);
    height: 60%;
    width: 70%;
    left: 20%;
    top: 250%;
}
.contact-us h5{
    color: white;
    text-align: center;
    font-size: 150%;
}
#name1{
    width: 40%;
    opacity: inherit;
    resize: none;
}
#mail{
    width: 40%;
}
#msg{
    width: 80%;
    height:40%;
}
.footer{
    position: absolute;
    display: flex;
    width: 10%;
    top: 320%;
    left: 30%;
}
.footer p{
    text-align: center;
}
.design-hidden1{
    display: none;
}
.design-hidden2{
    display: none;
}
.design-hidden3{
    display: none;
}
#one{
    position: absolute;
    top: 170%;
    left: 20%;
}
#two{
    position: absolute;
    top: 170%;
    left: 50%;
}
#three{
    position: absolute;
    top: 170%;
    left: 70%;
}