.container{
    text-align: center;
}

.logo {
    background-image: url(images/h_img.jpg);
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 20%;
    height: 120%;
    width: 100%;
    color: white;
}
.services {
    background-image: url(images/s_image.jpg);
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;
    height: 70%;
    color: white;
}
.about-us {
    padding-top: 5%;
    padding-bottom: 5%;
}
.portfolio {
    padding-top: 5%;
    padding-bottom: 5%;
}

.what-we-do {
    padding-top: 5%;
    padding-bottom: 5%;
}



.port {
    position: relative;
    padding: 5px;
    border: 5px;
    margin: 5px;
    text-align: center;
    color:gold;
    font-size: x-large;
}


.contacts {
    background-image: url(images/backgrounds/c_image.jpg);
    width: 100%;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 10%;
    color: white;
    align-items: center;
}
.workCo {
    position: absolute;
    display: none;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid burlywood;
}
#designDetails {
    display: none;
}
#developmentDetails {
    display:none;
}
#managementDetails {
    display: none;
}

#message {
    background-color: transparent;
    height: 200px;
    width: 80%;
    color: purple;
    border: 1px solid lightyellow;

}
#email {
    width: 40%;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}
#name {
    width: 40%;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    margin: 10px;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    flex-direction: row;
    flex-wrap: wrap;
}


::placeholder {
    color: white;
    opacity: 2;
}
